{% render 'partials/head.liquid' %}
    <article class="profile-card">
      
      <header class="profile-card-header">
        <h1>{{ person.name }}</h1>
        <h2>Frontend Design & Development</h2>
      </header>
  
     <section class="intro"> 
        <p class="profile-card-intro">
            Ik ben {{ person.name }}, ook wel {{ person.nickname | downcase }} ;) en eerstejaars student {{ person.bio }} aan de Hogeschool van Amsterdam.
            Tijdens deze opleiding leer ik werken met HTML, CSS, JavaScript en het dynamisch ophalen van data via API's.
            Wat begon zonder programmeerkennis groeit stap voor stap uit tot het bouwen van toegankelijke, gebruiksvriendelijke en gestructureerde websites.
        </p>
       
      </section>

      <section class="about-me"> 

        <p class="about-me-title">About me:</p>
         
        <ul class="icon-list">
          <li> 
            <button popovertarget="photo-amsterdam">
            <img src="assets/location.svg" alt="Amsterdam" width="23" height="23">
            </button>
         </li>
          
          <li>
              <button popovertarget="photo-egypt"> 
              <img src="assets/egypt.svg" alt="egypt-flag" width="23" height="23">
              </button>
          </li>

          <li>
              <button popovertarget="photo-music">
              <img src="assets/music.svg" alt="music" width="23" height="23">
              </button>  
          </li>

          <li> 
            <button popovertarget="photo-traveling">
            <img src="assets/travel.svg" width="23" height="23">
            </button>
          </li>

          <li> 
            <button popovertarget="photo-coding">
            <img src="assets/coding.svg" width="23" height="23">
            </button>
          </li>

        </ul> 
       </section>

      <div popover id="photo-amsterdam"> 
        <img src="assets/amsterdam.jpg">
        <button popovertarget="photo-amsterdam">Sluiten</button>
      </div>

      <div popover id="photo-egypt">
        <img src="assets/egypt.jpg">
        <button popovertarget="photo-egypt">Sluiten</button>
      </div>

      <div popover id="photo-music">
        <a href="https://open.spotify.com/artist/3TVXtAsR1Inumwj472S9r4">
          <img src="assets/drake.jpg">
        </a>
        <button popovertarget="photo-music">Sluiten</button>
      </div>

      <div popover id="photo-traveling">
        <img src="assets/travel.jpg">
        <button popovertarget="photo-traveling">Sluiten</button>
      </div>

      <div popover id="photo-coding">
        <a href="https://github.com/hebaahx?tab=repositories">
         <img src="assets/coding.jpg">
        </a> 
        <button popovertarget="photo-coding">Sluiten</button>
      </div>

       

    </article>

<script src="scripts/script.js"></script>

{% render 'partials/foot.liquid' %}
