
* {
  box-sizing: border-box;
}

html:has(.profile-card) {
  height: 100vh;
}

body:has(.profile-card) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  color: #080c0e;
}

article.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background: rgb(236, 174, 201);
  background: linear-gradient(0deg, rgb(244, 80, 184) 40%, #4ab2e2 100%);
  box-shadow: 0 0 20px 20px rgba(0,0,0,.1);
  transition: .25s;
}

header.profile-card-header {
  display: flex;
  flex-direction: column;
  background-image: url("/sajaenik.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;


}



.profile-card-dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items: center;
  align-items: start;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: rgb(252, 252, 246);

  dt {
    margin-top: .25rem;
    padding-top: .25rem;
    border-top: 1px solid rgba(0,0,0,0.3);
    font-weight: bold;
    &:nth-of-type(1) {
      grid-area: html-dt;
    }
    &:nth-of-type(2) {
      grid-area: css-dt;
      transform: translateY(1rem);
    }
    &:nth-of-type(3) {
      grid-area: js-dt;
    }
  }

  dd {
    margin: 0;
    padding-left: .3rem;
    transition: .25s .3s;
    &:nth-of-type(2) {
      transform: translateY(1rem);
    }
  }
}


.profile-card p {
  margin: 0;
}

.profile-card > p {
  width: 100%;
  margin-top: 0;
  padding: 3rem 2rem;
  border-radius: 0 0 1rem 1rem;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}

/* Deze styles zijn van toepassing als je op de knop klikt */
body.is-expanded {
  font-size: 1.15em;
}

body.is-expanded .profile-card {
  width: 60vw;
  max-width: 60vw;
}

body.is-expanded .profile-card-button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.is-expanded .profile-card-button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.is-expanded .profile-card-dl dd {
  font-size: 1.75em;
}

body.is-expanded .profile-card-img {
  width: 15em;
}
