* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffd4ee;
  
}

/* Profile card */
article.profile-card {
  max-width: 25em;
  background-color: rgb(255, 228, 246);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 10px 10px 5px rgb(53, 198, 247);
  
}
