* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffd4ee;
  
}

/* Profile card */
article.profile-card {
  max-width: 25em;
  background-color: rgb(255, 228, 246);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 10px 10px 5px rgb(53, 198, 247);
  
}

/* Header */
header.profile-card-header {
  text-align: center;
  padding: 3rem;
  background-image: url("me.jpg");
  background-size: cover;
  background-position: center;
  height: 170px;
  color: rgb(255, 255, 255);
  border-radius: 1.5rem ;


    h1{
      font-size: 2rem;
    }

    h2{
      font-size: 1rem;
    }

}

/* Intro */
.profile-card-intro {
  margin-top: 1rem;
  padding: 2rem;
  background:rgba(247, 167, 253, 0.783);
  text-align: center; 
  line-height: 1.3;
  border-radius: 1.5rem;
}


/* About me */
.about-me-title {
  font-weight: bold;
  margin: 1rem;
  text-align: center;
}

/* svg lijst */
.icon-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  
    button{
    background-color: transparent;
    border: none;
    }

    img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s;
    }
      
    :hover {
      transform: scale(1.2);
    }
}


[popover] {
  position: fixed;
  margin: auto;
  overflow: auto;   
  background-color: transparent;
  border: none;
  
    img {
    max-width: 280px;
    border-radius: 1rem;
    display: block;
  }

  button{
    border: none;
    background: transparent;
    cursor: pointer;
  }
}